<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital management website</title>

    <script src="https://kit.fontawesome.com/c1df782baf.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="C:\Users\shari\Downloads\Demand web\static\mainstyle.css">

    <style>
        .container {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
        }

        .video-container {
            position: relative;
            display: inline-block;
            width: 170px;
            /* Adjust video width here */
            height: 150px;
            /* Adjust video height here */
        }

        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            border: none;
            font-size: 18px;
            cursor: pointer;
            padding: 2px 5px;
            z-index: 10;
        }

        .close-button:hover {
            background-color: rgba(0, 0, 0, 0.9);
        }

        video {
            display: none;
        }
    </style>
</head>

<body>

    <header>
        <div class="logo"><img src="C:\Users\shari\Downloads\Demand web\images\logo3.png" alt=""></div>
        <nav class="navbar">
            <a href="#Home">Home</a>
            <a href="#About">About</a>
            <a href="#Service">Service</a>
            <a href="#Blog">Blog</a>
            <!-- <a href="#Home">Gallery</a>
            <a href="#Home">Contact</a> -->
        </nav>
        <!-- <div class="right-icons">
            <div id="menu-bars" class="fas fa-bars"></div>
            <div class="btn">Login</div>
        </div> -->
    </header>

    <!-- header section ended -->

    <!-- Home section started -->

    <div class="main-home" id="Home">
        <div class="home">
            <div class="home-left-content">
                <span>Welcome to Demand Forecasting</span>
                <h2>Accurate forecasts, <br> optimal production, zero waste.</h2>
                <p class="lorem">Forecasting is not about predicting the future but about reducing uncertainty to enable
                    better decision-making.</p>

                <div class="home-btn">
                    <a href="http://127.0.0.1:5000/">Forecast</a>
                    <a class="homebtnsec"
                        href="https://app.powerbi.com/groups/me/reports/8f3ab96a-f054-4a93-98be-0a5dbfd3fa13/ReportSectioneb7a8eb724474dddb5d4?experience=power-bi">Dashboard</a>


                </div>
            </div>

            <div class="home-right-content">
                <img src="C:\Users\shari\Downloads\Demand web\images\output-onlinegiftools (2).gif" alt="">
            </div>
        </div>
    </div>

    <div class="technology">
        <div class="main-technology">
            <div class="inner-technology">
                <span></span>
                <i class="fi fi-tr-hands-heart"></i>
                <h2>Recommendation</h2>
                <p>Provides strategies to optimize inventory levels, adjust production schedules, and enhance supply
                    chain efficiency based on demand forecasts.This ensures production is neither excessive nor
                    insufficient, improving efficiency and aligning with demand</p>
            </div>

            <div class="inner-technology">
                <span></span>
                <i class="fi fi-rr-doctor"></i>
                <h2>Approach and Methodology Documentation</h2>
                <p>Thoroughly archive detailed reports and insights for future access. This ensures that key information
                    and explanations are readily available for reference and analysis, making it easy to revisit and
                    review important data at any time</p>
            </div>

            <div class="inner-technology">
                <span></span>
                <i class="fi fi-tr-user-md"></i>
                <h2>Executive Summary Presentation</h2>
                <p>Delivers a clear, concise overview of key metrics and insights. This presentation simplifies complex
                    data, enhancing strategic discussions and decision-making by providing actionable information in a
                    digestible format.</p>
            </div>
        </div>
    </div>

    <!-- About us section starts -->

    <div class="main-about" id="About">
        <div class="about-heading">About Us</div>
        <div class="inner-main-about">
            <div class="about-inner-content-left">
                <img src="C:\Users\shari\Downloads\Demand web\images\output-onlinegiftools (3).gif" alt="">
            </div>
            <div class="about-inner-content">
                <div class="about-right-content">
                    <h2>Forecasting reduces uncertainty to <br> enable better decision-making. </h2>
                    <p>At PharmaForecast Solutions, we specialize in precise demand forecasting for the pharmaceutical
                        sector. Our expert team uses advanced models to predict product demand for the next 12 months,
                        helping you optimize production schedules, manage inventory efficiently, and ensure a consistent
                        supply. </p>
                    <p class="aboutsec-content">
                        We deliver detailed forecasting reports, actionable recommendations, and clear executive
                        summaries to support your strategic decisions and enhance operational efficiency.
                    </p>
                    <button class="aboutbtn">Read More</button>
                </div>
            </div>
        </div>
    </div>

    <!-- About us section ends -->

    <!-- Our services section starts -->

    <div class="our-service" id="Service">
        <div class="service-heading">
            <h2>Our Products</h2>
        </div>

        <div class="main-services">
            <div class="inner-services">
                <div class="service-icon">
                    <i class="fa-solid fa-truck-medical"></i>
                </div>
                <h3>Diclofenac</h3>
                <p>Diclofenac is an NSAID used to treat pain and inflammation, often in arthritis.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
                <h3>Cetirizine</h3>
                <p>Cetirizine is an antihistamine used to relieve allergy symptoms such as runny nose, itching, and
                    hives.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <h3>Aspirin</h3>
                <p>Aspirin is an NSAID used to reduce pain and fever, and to prevent blood clots.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fa-solid fa-notes-medical"></i>
                </div>
                <h3>Paracetamol</h3>
                <p>Paracetamol, or acetaminophen, relieves mild to moderate pain and reduces fever. It is commonly used
                    for headaches.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fa-solid fa-list-check"></i>
                </div>
                <h3>Benzodiazepines</h3>
                <p>Benzodiazepines are used to treat anxiety, insomnia, and seizures by calming the central nervous
                    system.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
                <h3>Zolpidem</h3>
                <p>Zolpidem is a sedative-hypnotic medication used to treat insomnia by helping people fall asleep more
                    quickly.</p>
            </div>
        </div>
    </div>

    <!-- Our services section ends -->

    <!-- Customer review section starts -->

    <div class="main-review" id="Blog">
        <section>
            <div class="review-heading">
                <h1>Our Customers Review</h1>
            </div>
            <div class="main-inner-review">
                <div class="review-inner-content">
                    <div class="review-box">
                        <img src="C:\Users\shari\Downloads\Demand web\images\recommendation.jpeg" alt="">
                        <h2>Recommendation System</h2>
                        <div class="review-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="review-text">
                            <p>"We’ve drastically reduced excess inventory and avoided stockouts, thanks to this
                                accurate and efficient recommendation tool."</p>
                        </div>
                    </div>

                    <div class="review-box">
                        <img src="C:\Users\shari\Downloads\Demand web\images\training.jpeg" alt="">
                        <h2>Executive Summary Presentation</h2>
                        <div class="review-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="review-text">
                            <p>
                                "The executive summary presentation is a game-changer. It
                                provides a clear, concise overview to the users</p>
                        </div>
                    </div>

                    <div class="review-box">
                        <img src="C:\Users\shari\Downloads\Demand web\images\folder.jpeg" alt="">
                        <h2>Documentation</h2>
                        <div class="review-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="review-text">
                            <p>"Documenting the reports for future access is invaluable. It lets us revisit detailed
                                insights and explanations anytime"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Customer review section ends -->

    <!-- Footer section starts -->
    <!-- Footer section ends -->

    <script src="/static/script.js"></script>
    <script>
        document.getElementById('dashboardButton').addEventListener('click', function () {
            var video = document.getElementById('dashboardVideo');
            var closeButton = document.getElementById('closeButton');
            video.style.display = 'block';
            closeButton.style.display = 'block';
            video.play();
        });

        document.getElementById('closeButton').addEventListener('click', function () {
            var video = document.getElementById('dashboardVideo');
            var closeButton = document.getElementById('closeButton');
            video.pause();
            video.style.display = 'none';
            closeButton.style.display = 'none';
        });
    </script>

</body>

</html>