<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Forecasting</title>
    <link rel="stylesheet" href="/static/Style.css">
</head>

<body>
    <h1>Sales Forecasting</h1>
    <form id="forecastForm" method="POST" onsubmit="return validateDates()">
        <label for="from_date">Start Date:</label>
        <input type="date" id="from_date" name="from_date" required>
        <br>
        <label for="to_date">End Date:</label>
        <input type="date" id="to_date" name="to_date" required>
        <br>
        <label for="product">Select Product:</label>
        <select type="text" id="product" name="product" required>
            <option value="" disabled selected>Select the product name</option>
            <option value="Zolpidem">Zolpidem</option>
            <option value="Paracetamol">Paracetamol</option>
            <option value="Cetirizine">Cetirizine</option>
            <option value="Aspirin">Aspirin</option>
            <option value="Diclofenac">Diclofenac</option>
            <option value="Benzodiazepines">Benzodiazepines</option>
        </select>
        <br>
        <br>
        <button type="submit" value="submit">Forecast</button>
    </form>

    <script>
        function validateDates() {
            let fromDate = new Date(document.getElementById('from_date').value);
            let toDate = new Date(document.getElementById('to_date').value);

            if (fromDate >= toDate) {
                alert("Please enter valid dates.");
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }
    </script>
</body>

</html>